---
import ProjectCards from "./ProjectCards";
import styles from "./Projects.module.css";

const projects = [
    {
        name: "NexLiber",
        description:
            "A library of comprehensive coding project documentations extinguishing tutorial hell",
        url: "https://nexliber.com",
    },
    {
        name: "Plasma",
        description:
            "The tech stack of the future (Solid + Tailwind + PocketBase)",
        url: "https://github.com/teamxynlab/plasma",
    },
    {
        name: "MLA",
        description:
            "A deep learning automatic manga reading and analysis system",
        url: "https://github.com/xyntechx/Manga-Layout-Analysis",
    },
    {
        name: "Code for Hope",
        description:
            "A service-learning project teaching underprivileged students Python fundamentals",
        url: "https://github.com/xyntechx/Code-for-Hope",
    },
];
---

<section class={styles.mainContainer}>
    <h1 class={styles.title}>My Main Projects</h1>

    <ProjectCards projects={projects} client:load />

    <a
        href="https://github.com/xyntechx"
        target="_blank"
        class={styles.findmore}
    >
        findMore("github.com/xyntechx") &rarr;
    </a>
</section>
