.mainContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    margin-top: 3rem;
}

.title {
    margin: 0;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.5rem;
    color: #ff6633;
}

.toggleContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    column-gap: 2rem;
}

.toggle {
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    outline: none;
    transition: 0.15s;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.project {
    background-color: #ffffff33;
    border-radius: 1rem;
    border: 1px solid #ffffff4d;
    width: 40%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: 0.15s;
}

.project:hover {
    background-color: #ff663333 !important;
}

.name {
    margin: 0;
    font-size: 1.2rem;
}

.description {
    margin: 0;
    font-size: 1rem;
    text-align: left;
}

.findmore {
    color: #ff663399;
    text-decoration: none;
    margin: 0;
    transition: 0.15s;
    text-align: center;
    font-size: 1rem;
}

.findmore:hover,
.findmore:focus {
    color: #ff6633;
}

@media (max-width: 900px) {
    .mainContainer {
        width: 90%;
    }

    .title {
        font-size: 1.2rem;
    }

    .project {
        width: 38%;
    }

    .name {
        font-size: 1rem;
    }

    .description,
    .findmore {
        font-size: 0.8rem;
    }
}
