@import url("https://use.typekit.net/jmk3xov.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
  background: #000;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 150px;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2rem;
  padding: 4rem;
  margin-bottom: var(--spacing);
  border-style: solid;
  border-color: #fff;
  border-radius: 10px;
}

section {
  grid-column: 2 / 10;
  padding: 4rem;
  background: var(--dark-bg);
  font-size: 1.75rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  border-style: solid;
  border-color: #fff;
  border-radius: 10px;
}

hr {
  border-top: 3px solid #ffffff;
}

.img-link {
  transition: transform .2s;
}

.img-link:hover {
  transform: scale(1.2);
}

.left {
  grid-column: 5 / 12;
}

.btn {
  width: fit-content;
  height: fit-content;
  font-size: 1.75rem;
  cursor: pointer;
  background: white;
  color: black;
  border: white;
  border-radius: 5px;
  transition: all .4s;
}

.btn:hover {
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #ff7c1f,
  0 15px 0 -4px #067eed,
  0 16px 10px -3px #39a2db;
}

/* For small screens (e.g. mobile) */
@media screen and (max-width: 990px) {
  header {
    font-size: 1rem;
    grid-column: 2 / 11;
  }

  section {
    font-size: 1rem;
    grid-column: 2 / 11;
  }

  .left {
    grid-column: 2 / 11;
  }

  .btn {
    font-size: 1rem;
  }
}