@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

html {
    background: #000;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

:root {
    --dark-bg: rgba(15, 15, 15, 0.95);
    --spacing: 10rem;
    --transition: transform 0.2s;
    --transform: scale(1.1);
}

main {
    width: 100vw;
    color: white;
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 3rem 0rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: "Roboto Mono", monospace;
}

h1,
h2 {
    font-size: 2.5rem;
}

h1,
h2,
p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

section {
    grid-column: 4 / 10;
    padding: 4rem;
    background: var(--dark-bg);
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
    border-style: solid;
    border-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

hr {
    border-top: 3px solid #ffffff;
    width: 100%;
}

.socials-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.a-img {
    padding: 0.5rem;
    transition: var(--transition);
}

.a-img:hover {
    transform: var(--transform);
}

.btn {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 100px;
    color: white;
    font-size: 1.75rem;
    transition: var(--transition);
}

.btn:hover {
    transform: var(--transform);
    border: 2px solid #7ecdf8;
    color: white;
}

/* For small screens (e.g. mobile) */
@media screen and (max-width: 990px) {
    section {
        font-size: 1.2rem;
        grid-column: 2 / 12;
    }

    .btn {
        font-size: 1rem;
    }
}
