---
import Link from "./link.astro";
---

<nav
    class="flex flex-row items-center justify-between w-full fixed top-0 px-48 py-8 bg-primary-black"
>
    <Link id="intro" text="Intro" />
    <Link id="about" text="About" />
    <Link id="exp" text="Exp" />
    <Link id="projects" text="Projects" />
    <Link id="research" text="Research" />
    <Link id="links" text="Links" />
</nav>
