.header {
    width: 100vw;
    height: fit-content;
    position: fixed;
    top: 0;
    background: linear-gradient(180deg, #fff 0%, #fff 60%, transparent 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 2rem 1rem;
    padding-bottom: 3rem;
    column-gap: 1rem;
}

.text {
    margin: 0;
    font-size: 1rem;
    font-weight: 800;
}
