:root {
    --red: #d05353;
    --blue: #4cb6c8;
    --purple: #7e80f1;
    --bg-colour: #1a1a1a;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 80vw;
    height: 100vh;
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    row-gap: 1rem;
}

.project-container,
.exp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 1;
    width: 100%;
    margin-top: 4rem;
    column-gap: 2rem;
}

.exp-container {
    flex-direction: column;
    column-gap: 0;
}

.explore {
    padding: 4rem 0;
    font-size: 1.2rem;
    text-align: center;
    z-index: 1;
    width: 50vw;
}

.content-container {
    margin-left: 4rem;
    z-index: 1;
}

.button-red,
.button-blue,
.button-purple {
    text-decoration: none;
    color: inherit;
    width: 50%;
    padding: 1rem 0.5rem;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
    font-size: 1.5rem;
}

.button-red {
    border: 1px var(--red) solid;
    background: linear-gradient(to left, var(--bg-colour) 50%, var(--red) 50%)
        right;
    background-size: 200%;
    transition: 0.4s ease-out;
}

.button-blue {
    border: 1px var(--blue) solid;
    background: linear-gradient(to left, var(--bg-colour) 50%, var(--blue) 50%)
        right;
    background-size: 200%;
    transition: 0.4s ease-out;
}

.button-purple {
    border: 1px var(--purple) solid;
    background: linear-gradient(
            to left,
            var(--bg-colour) 50%,
            var(--purple) 50%
        )
        right;
    background-size: 200%;
    transition: 0.4s ease-out;
}

.button-red:hover,
.button-blue:hover,
.button-purple:hover {
    background-position: left;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.back-button {
    width: 20%;
}

.text-link {
    text-decoration: underline;
    color: inherit;
}

@media (max-width: 1150px) {
    .main {
        flex-direction: column;
    }

    .content-container {
        margin: 1rem 0;
        margin-bottom: 0;
    }

    .back-button {
        width: 50%;
    }

    .project-container {
        flex-direction: column;
        column-gap: 0;
        row-gap: 2rem;
    }

    .explore {
        padding: 2rem 0;
        width: 90vw;
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .button-red,
    .button-blue,
    .button-purple {
        font-size: 1rem;
    }
}
