---
const { text, url } = Astro.props;
---

<div class="text-xl md:text-2xl font-normal">
    <p class="text-primary-blue">
        {">>> "}<a
            href={url}
            target="_blank"
            class="text-dim-black underline transition-colors hover:text-primary-blue"
            >{text}</a
        >
    </p>
</div>
