---
import Cell from "./cell.astro";
---

<section
    id="links"
    class="w-full min-h-[80vh] flex flex-col items-start justify-start gap-y-8 pt-24 px-8 md:px-0"
>
    <h1 class="text-4xl md:text-6xl font-bold">Links</h1>
    <p class="text-xl md:text-2xl">
        Thanks for checking my website out! Feel free to check these out too!
    </p>
    <Cell text="github" url="https://github.com/xyntechx" />
    <Cell text="linkedin" url="https://www.linkedin.com/in/nyx-iskandar/" />
    <Cell text="email" url="mailto:nyx@berkeley.edu" />
</section>
