<div class="bg" id="about-me">
    <div class="container">
        <h1>TL;DR:</h1>
        <p class="subtitle">
            an innovative coder and tech founder passionate about creating for
            the community
        </p>
        <div class="grid">
            <div class="griditem">
                <div class="info">
                    <h3>🚀 #techie</h3>
                    <p>
                        I love building tech startups and open-source software
                    </p>
                </div>
                <a
                    href="https://github.com/teamxynlab"
                    target="_blank"
                    class="link">Learn More &rarr;</a
                >
            </div>
            <div class="griditem">
                <div class="info">
                    <h3>🐻 Go Bears!</h3>
                    <p>
                        I'm studying Electrical Engineering and Computer
                        Sciences (EECS) at UC Berkeley (Class of 2027)
                    </p>
                </div>
                <a
                    href="https://www.linkedin.com/in/nyx-iskandar/details/education/"
                    target="_blank"
                    class="link">Learn More &rarr;</a
                >
            </div>
            <div class="griditem">
                <div class="info">
                    <h3>🤖 Tech for Public Good</h3>
                    <p>
                        I'm a Smart Nation Scholar committed to bettering
                        society using technology
                    </p>
                </div>
                <!-- TODO: <a href="" target="_blank" class="link">Learn More &rarr;</a> -->
            </div>
        </div>
    </div>
</div>

<style>
    h1,
    h3,
    p {
        margin: 0;
        text-align: center;
    }

    h1 {
        font-size: 4rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.2rem;
    }

    .subtitle {
        font-size: 1.5rem;
        width: 50%;
    }

    .bg {
        width: 100vw;
        background: linear-gradient(
            180deg,
            #ffffff 0%,
            #ffb13d 20%,
            #ffb13d 80%,
            #ffffff 100%
        );
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .container {
        width: 80vw;
        min-height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 0.5rem;
    }

    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 50px;
        justify-items: center;
        margin-top: 2rem;
    }

    .griditem {
        background-color: #fff;
        padding: 1.5rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        row-gap: 0.5rem;
        border: 2px solid #000;
        border-radius: 1rem;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 0.5rem;
    }

    .link {
        text-decoration: none;
        color: #000;
        margin-top: 1rem;
        text-align: center;
        font-weight: 800;
    }

    .link:hover {
        background: linear-gradient(to right, #ffb13d, #ff6633);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>
