<form
    action="https://getform.io/f/66010af6-9f3b-453d-9256-3d8d56be46ef"
    method="POST"
    class="container"
>
    <p class="subtitle">
        Want to collaborate, have questions about my projects, or just want to
        chat? I'd love to hear from you!
    </p>
    <div class="inputDiv">
        <label for="name">Name</label>
        <input
            type="text"
            name="name"
            id="name"
            placeholder="Name"
            class="input"
            required
            aria-required="true"
        />
    </div>
    <div class="inputDiv">
        <label for="email">Email</label>
        <input
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            class="input"
            required
            aria-required="true"
        />
    </div>
    <div class="inputDiv">
        <label for="message">Message</label>
        <textarea
            name="message"
            id="message"
            placeholder="Message"
            rows="10"
            class="input"
            required
            aria-required="true"></textarea>
    </div>
    <input type="hidden" name="_gotcha" style="display:none !important" />
    <div
        class="h-captcha"
        style="margin-top: 0.5rem"
        data-sitekey="32ede372-e714-414e-a49d-db877366b79f"
    >
    </div>
    <button type="submit" class="button">Send</button>
</form>

<style>
    p {
        text-align: center;
        font-size: 1.2rem;
        width: 100%;
        margin: 0;
        margin-bottom: 1rem;
    }

    label,
    input,
    textarea {
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 1rem;
    }

    input,
    textarea {
        outline: none;
        padding: 1rem;
        border: none;
        border-radius: 0.5rem;
        background-color: #efefef;
    }

    label {
        padding: 0 1rem;
    }

    .container {
        width: 60%;
        min-height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 1rem;
        padding: 5rem 0;
    }

    .inputDiv {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 0.5rem;
    }

    .button {
        padding: 0.5rem 2rem;
        width: 50%;
        outline: none;
        background-color: #fff;
        border-radius: 0.5rem;
        border: 2px solid #000;
        cursor: pointer;
        color: #000;
        font-size: 1rem;
    }

    .button:hover,
    .button:focus {
        background: linear-gradient(to right, #ffb13d, #ff6633);
        color: #fff;
    }
</style>
