<div class="container" id="hello-world">
    <img
        src="/assets/profile-pic.png"
        alt="Nyx's Profile Picture"
        width="200px"
        height="200px"
    />
    <div class="intro">
        <h1>Nyx Iskandar</h1>
        <p>A creative creating creative things</p>
        <div class="socials">
            <a href="https://github.com/xyntechx" target="_blank">
                <img
                    src="/assets/github.svg"
                    alt="Nyx's GitHub"
                    width="30px"
                    height="30px"
                />
            </a>
            <a href="https://www.linkedin.com/in/nyx-iskandar/" target="_blank">
                <img
                    src="/assets/linkedin.svg"
                    alt="Nyx's LinkedIn"
                    width="30px"
                    height="30px"
                />
            </a>
        </div>
    </div>
</div>

<style>
    h1,
    p {
        margin: 0;
    }

    h1 {
        font-size: 4rem;
        background: linear-gradient(to right, #ffb13d, #ff6633);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        font-size: 1.5rem;
    }

    .container {
        width: 100%;
        min-height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        column-gap: 5rem;
    }

    .intro {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 0.5rem;
    }

    .socials {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        column-gap: 1rem;
        margin-top: 0.5rem;
    }
</style>
