---
const { title } = Astro.props;
---

<div class="text-2xl font-normal">
    <p class="text-dim-black">
        <span class="text-primary-blue">{">>> "}</span>{title}()
    </p>
    <p>
        <slot />
    </p>
</div>
