---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main
        class="flex items-start justify-start flex-col gap-4 py-12 px-4 md:px-0 md:w-1/2 w-full"
    >
        <h1 class="font-bold w-full text-justify">{"%"} ls facts</h1>

        <p class="text-sm w-full text-justify">
            I graduated from <span class="font-bold">UC Berkeley</span> with a B.S.
            in Electrical Engineering and Computer Sciences (Honors) and a Minor in
            Public Policy, in 2.5 years. Super grateful to <a
                href="https://www.tech.gov.sg/"
                target="_blank"
                class="underline text-blue-500">GovTech Singapore</a
            > for awarding me the full-ride merit-based <span class="font-bold"
                >Smart Nation Scholarship</span
            > for the entirety of my studies.
        </p>

        <p class="text-sm w-full text-justify">
            I'm grateful to <a
                href="https://ritwikgupta.me/"
                target="_blank"
                class="underline text-blue-500">Dr. Ritwik Gupta</a
            > and <a
                href="https://camallen.net/"
                target="_blank"
                class="underline text-blue-500">Dr. Cam Allen</a
            > for their mentorship throughout my undergraduate research career at
            <a
                href="https://bair.berkeley.edu/"
                target="_blank"
                class="underline text-blue-500">BAIR</a
            > and <a
                href="https://humancompatible.ai/"
                target="_blank"
                class="underline text-blue-500">CHAI</a
            >.
        </p>

        <p class="text-sm w-full text-justify">
            I was a research fellow at <span class="font-bold">OpenAI</span> in Fall
            2025. The program is called Launchpad, and that semester is its inaugural
            semester. Participation, at least for my batch, is invite-only.
        </p>

        <p class="text-sm w-full text-justify">
            I've published workshop papers at <span class="font-bold"
                >NeurIPS</span
            > and <span class="font-bold">ICML</span>, and contributed to a
            chapter in a soon-to-be-published technical AI safety book. You can
            find my papers on my <a
                href="https://scholar.google.com/citations?user=6CbTfzIAAAAJ&hl=en&oi=ao"
                target="_blank"
                class="underline text-blue-500">Google Scholar</a
            >.
        </p>

        <p class="text-sm w-full text-justify">
            I'm a history buff. Currently reading <span class="italic"
                >Founding Partisans</span
            > by Dr. H. W. Brands and <span class="italic"
                >The Hamilton Scheme</span
            > by William Hogeland. Enjoyer (discerningly, of course) of pop culture
            like Broadway's <span class="italic">Hamilton</span>, Broadway's <span
                class="italic">1776</span
            >, HBO's <span class="italic">John Adams</span>, and CBS's
            <span class="italic">George Washington</span>
            <span class="text-gray-300"
                >(yeah you guessed it, I'm really into the American Revolution /
                Early Republic right now)</span
            >. My favorite historical figure is Alexander Hamilton.
        </p>

        <p class="text-sm w-full text-justify">
            I'm a guilty perpetuator of the CS nerd stereotype of liking
            climbing. I'm on V4 walls now (though admittedly, difficulty varies
            per gym). I also play(ed) volleyball, basketball, netball, table
            tennis, and badminton.
        </p>

        <p class="text-sm w-full text-justify">
            I draw manga! A lot of my inspiration is from <span class="italic"
                >DBZ</span
            >, both art style- and story-wise. Other influences include <span
                class="italic">Naruto</span
            > and <span class="italic">Haikyu</span>.
        </p>

        <p class="text-sm w-full text-justify">
            My favorite, most frequently used app, is Spotify. My current
            project is <span class="italic">Godzilla</span> by Eminem. And clipping.
            is underrated.
        </p>

        <p class="text-xs w-full text-justify">
            <a href="/" class="underline text-blue-500">{"<"} ctrl + c</a>
        </p>
    </main>
</Layout>
