---
import Layout from "../layouts/Layout.astro";
import "../styles/styles.css";
---

<Layout title="Nyx Iskandar | About">
    <main class="main">
        <img src="/profile-pic.png" alt="Nyx's Profile Picture" class="img" />
        <div class="content-container">
            <p class="tagline">🚀 A creative creating creative things</p>
            <p class="text">
                Nyx is a coder, athlete, and founder who loves to
                <span class="red">create for the community</span>.
                Passionate about <span class="red">computer science</span>, Nyx loves to
                experiment with the unprecedented and innovate impactful
                solutions in her <span class="red">research</span>, <span class="red">entrepreneurial</span>,
                and <span class="red">service-learning</span> pursuits. Nyx's hobbies outside of STEM
                include playing volleyball and drawing manga! Nyx's interdisciplinary, creative,
                and initiative-taking spirit empowers her to leverage her many
                passions to <span class="red">better the world</span>, and herself, in any way she can.
                With a never-say-die attitude, Nyx constantly challenges the
                process and is not afraid to fail, seizing any opportunity she
                finds and pursuing everything she loves with <span class="red">ardent</span> energy and
                commitment.
            </p>
            <div class="button-container">
                <a href="/" class="button-red back-button">Back</a>
            </div>
        </div>
    </main>
</Layout>

<style>
    :root {
        --red: #d05353;
    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        max-width: 80vw;
        min-height: 100vh;
        margin: auto;
    }

    .img {
        width: 250px;
        z-index: 1;
    }

    .tagline {
        font-size: 1rem;
        width: 100%;
        background-color: var(--red);
        padding: 0 1rem;
    }

    .text {
        font-size: 1rem;
        text-align: justify;
        width: 100%;
        padding: 0 1rem;
    }

    .red {
        color: var(--red);
    }

    @media (max-width: 1150px) {
        .main {
            padding-top: 1rem;
            margin: 1rem 0;
            flex-direction: column;
        }

        .img {
            width: 150px;
        }

        .tagline,
        .text {
            padding: 0.1rem 0;
        }

        .tagline {
            text-align: center;
        }
    }

    @media (max-width: 500px) {
        .img {
            margin-top: 1rem;
            width: 100px;
        }

        .tagline,
        .text {
            font-size: 0.8rem;
        }
    }
</style>
