---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout>
  <main
    class="flex items-start justify-start flex-col gap-4 py-12 px-4 md:px-0 md:w-2/5 w-full"
  >
    <h1 class="font-bold w-full text-justify">{"%"} ls facts</h1>

    <p class="text-sm w-full text-justify">
      I graduated from <span class="font-bold">UC Berkeley</span> with a B.S. in Electrical
      Engineering and Computer Sciences (Honors) and a Minor in Public Policy, in
      2.5 years.
    </p>

    <p class="text-sm w-full text-justify">
      I was an undergraduate machine learning researcher advised by <Link
        href="https://ritwikgupta.me/">Dr. Ritwik Gupta</Link
      > and <Link href="https://camallen.net/">Dr. Cam Allen</Link> at
      <Link href="https://bair.berkeley.edu/">BAIR</Link> and <Link
        href="https://humancompatible.ai/">CHAI</Link
      >.
    </p>

    <p class="text-sm w-full text-justify">
      I was a research fellow at <span class="font-bold">OpenAI</span> in Fall 2025
      as part of their Launchpad program. Participation, at least for the inaugural
      batch which I was part of, was invite-only.
    </p>

    <p class="text-sm w-full text-justify">
      I've published workshop papers at <span class="font-bold">NeurIPS</span> and
      <span class="font-bold">ICML</span>, and contributed to a chapter in a
      soon-to-be-published technical AI safety book. You can find my papers on
      my <Link
        href="https://scholar.google.com/citations?user=6CbTfzIAAAAJ&hl=en&oi=ao"
        >Google Scholar</Link
      >. I'm still actively doing research (as a hobby / side hustle, if you
      will)!
    </p>

    <p class="text-sm w-full text-justify">
      I'm a history buff. Currently reading <span class="italic"
        >The Hamilton Scheme</span
      > by William Hogeland. My favorite historical figure is Alexander Hamilton.
      Planning to read more into military history once I'm done with the aforementioned
      book!
    </p>

    <p class="text-sm w-full text-justify">
      I'm a guilty perpetuator of the CS nerd stereotype of liking climbing. I'm
      on V4/V5 walls now <span class="text-gray-300"
        >(my fingers need help)</span
      >. I also play volleyball, basketball, netball, table tennis, and
      badminton.
    </p>

    <p class="text-sm w-full text-justify">
      I draw manga! A lot of my inspiration comes from <span class="italic"
        >DBZ</span
      >, both art style- and story-wise. Other influences include <span
        class="italic">Naruto</span
      > and <span class="italic">Haikyu</span>.
    </p>

    <p class="text-sm w-full text-justify">
      I was born in Jakarta, Indonesia. I then moved to Singapore when I was 12.
      Now you can spot me around the Bay Area.
    </p>

    <p class="text-xs w-full text-justify">
      <Link href="/" target="_self">{"<"} ctrl + c</Link>
    </p>
  </main>
</Layout>
