---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import nyx from "../assets/nyx.png";
---

<Layout title="Nyx Iskandar | About">
    <main
        class="w-screen h-screen flex items-center justify-between flex-col gap-y-10 md:gap-y-4"
    >
        <div
            class="group p-4 md:pb-10 flex items-center justify-center flex-col gap-y-1"
        >
            <a
                href="/"
                class="text-4xl text-white animate-pulse group-hover:animate-none"
                >&uarr;</a
            >
            <a
                href="/"
                class="bg-white bg-opacity-50 px-4 rounded-full border border-white opacity-0 transition-opacity group-hover:opacity-100"
            >
                /
            </a>
        </div>
        <div
            class="flex items-center justify-center flex-col bg-triangle bg-no-repeat bg-center bg-[length:150px_150px] min-h-[150px] w-fit"
        >
            <h1 class="text-4xl font-semibold">a little bit about me</h1>
        </div>
        <div
            class="w-full px-4 flex items-center justify-center flex-col md:flex-row gap-y-10 md:gap-x-10"
        >
            <Image src={nyx} alt="Nyx Iskandar" width={300} />
            <div
                class="w-full p-4 md:w-1/2 flex items-start justify-center flex-col gap-y-4"
            >
                <p class="text-left">
                    Nyx is an engineer and entrepreneur committed to building
                    community-driven technological solutions. Her desire to make
                    a positive difference using tech drove her to study
                    Electrical Engineering and Computer Sciences (EECS) at UC
                    Berkeley. For her talent and passion in technology,
                    leadership, and public service, she has also been awarded
                    the full-ride Smart Nation Scholarship by Singapore's
                    Government Technology Agency.
                </p>
                <p class="text-left">
                    Nyx has always loved making stuff, from manga to
                    password-locked pencil cases. In late 2018, a bus
                    advertisement on game development inspired her to learn
                    coding. After building many different projects in many
                    different tech subfields - ML, AR/VR, web dev - Nyx found
                    that tech is what enables her to be the most creative, to
                    make the most stuff.
                </p>
                <p class="text-left">
                    Outside of tech, Nyx loves to play volleyball, boulder, and
                    draw manga!
                </p>
            </div>
        </div>
        <div
            class="group p-4 md:pt-10 flex items-center justify-center flex-col gap-y-1"
        >
            <a
                href="/projects"
                class="bg-white bg-opacity-50 px-4 rounded-full border border-white opacity-0 transition-opacity group-hover:opacity-100"
            >
                /projects
            </a>
            <a
                href="/projects"
                class="text-4xl text-white animate-pulse group-hover:animate-none"
                >&darr;</a
            >
        </div>
    </main>
</Layout>
