---
import Layout from "../layouts/Layout.astro";
import Link from "../components/about/link.astro";
---

<Layout title="Nyx Iskandar | About">
    <main
        class="w-full md:w-3/5 min-h-screen flex items-start justify-start flex-col p-10 md:p-20 gap-x-4 gap-y-4"
    >
        <div class="w-full flex items-center justify-between flex-row">
            <h1 class="text-5xl font-extrabold text-blue-xyn">About Me</h1>
            <a href="/" class="underline underline-offset-4">&lt; Back</a>
        </div>
        <p>
            My name is Nyx Iskandar, and I'm an undergraduate AI and Policy
            researcher passionate about building and shaping AI for public good.
            I'm honored to have been awarded the prestigious full-ride GovTech
            Singapore Smart Nation Scholarship to study Electrical Engineering &
            Computer Sciences (EECS) and Public Policy at the University of
            California, Berkeley.
        </p>
        <p>
            I'm an active undergraduate researcher at the <Link
                href="https://bair.berkeley.edu/"
                >Berkeley AI Research lab (BAIR)</Link
            > with both the <Link href="https://humancompatible.ai/"
                >Center for Human-Compatible AI (CHAI)</Link
            > and <Link href="https://darrellgroup.github.io/"
                >Darrell Group</Link
            >. At CHAI, I study the foundations of intelligence through AI
            agents under the mentorship of
            <Link href="https://camallen.net/">Dr. Cam Allen</Link>. At Darrell
            Group under the mentorship of <Link href="https://ritwikgupta.me/"
                >Ritwik Gupta</Link
            >, I evaluate the cyber capabilities of LLMs to inform AI governance
            and public policy, and build vision models finetuned on chaotic
            environments for disaster response. Additionally with <Link
                href="https://people.eecs.berkeley.edu/~gireeja/"
                >Prof. Gireeja Ranade</Link
            >, I lead the creation of a game theoretic model for AI
            tutor-student interactions to ensure alignment.
        </p>
        <p>
            Interested in teaching, I was the teaching assistant (TA) for UC
            Berkeley's AI and Public Policy course taught by <Link
                href="https://reddie.berkeley.edu/">Prof. Andrew W. Reddie</Link
            > (~100 students) in Spring 2025. My other notable teaching experience
            include being the founder and lead mentor of Code for Hope, where I taught
            Python fundamentals to 200 underprivileged students and led 25 teacher
            volunteers from all over Singapore.
        </p>
        <p>
            Active in the UC Berkeley student body, I currently serve as the
            Vice President of External Affairs at <Link
                href="https://ml.berkeley.edu/"
                >Machine Learning at Berkeley</Link
            >, the premier organization for Berkeley students in AI/ML, where I
            spearhead events (e.g. talks, hackathons, workshops, career fairs,
            company visits) with leading figures and companies / organizations
            in the AI/ML space. I'm also a member of <Link
                href="https://tbp.berkeley.edu/">Tau Beta Pi (TBP)</Link
            > and <Link href="https://hkn.eecs.berkeley.edu/"
                >Eta Kappa Nu (HKN)</Link
            >, the Engineering and EECS Honors Societies respectively.
        </p>
        <p>
            This summer, I'm super excited to be building <Link
                href="https://www.tryaura.dev/">Aura</Link
            > with <Link href="https://www.ramenvr.com/">Ramen VR</Link>.
        </p>
        <p>
            Outside of tech, I love to play volleyball, climb/boulder, and draw
            manga! I'm also a big history buff who is currently obsessed with
            Revolutionary & Early American history
        </p>
    </main>
</Layout>
