---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import "../styles/styles.css";
---

<Layout title="Nyx Iskandar | Experience">
    <main
        class="main"
        style="flex-direction: column; justify-content: flex-start;"
    >
        <Experience
            position="Founder & Chairperson"
            organisation="Code for Hope"
            period="Apr 2021 - Apr 2022"
            description="Code for Hope is a self-initiated service-learning project teaching underprivileged students Python fundamentals. By teaching the highly relevant and sought-after skill of programming, Code for Hope aims to create a fair playing field independent of socio-economic status for all to ultimately close the income gap. As the Founder and Chairperson, I worked closely with the managers of our partner organisations and created the syllabus, learning materials, and online IDE for the students and teacher volunteers. In its pioneering 2021-2022 run, Code for Hope taught 200 students, collaborated with 14 organisations, and recruited 25 volunteers."
        />
        <Experience
            position="Robotic Intelligence Research Intern"
            organisation="Advanced Remanufacturing and Technology Centre"
            period="Nov 2021 - Jan 2022"
            description="During this internship, I learnt much about and contributed to robotic grasping and object detection research: I developed intelligent industrial robotic systems with vision sensors and computer vision algorithms; contributed to an intelligent robotic grasping project using a collaborative robot (UR5), deep neural networks and the Robotic Operating System (ROS) framework; and conducted an independent CNN-based computer vision project for identifying industrial parts from colour images (the project is to be integrated into the team's software stack)."
        />
        <Experience
            position="Web Developer"
            organisation="EchoClass"
            period="Mar 2022 - Aug 2022"
            description="As the web developer of EchoClass, I developed a Next.js full-stack web application with Tailwind CSS, React Context, and Axios. I also mentored new recruits on HTML, CSS, React, Next.js, and Tailwind CSS as part of their onboarding process."
        />
        <div class="explore">
            <p style="background-color: #7e80f1; padding: 0.2rem 0">
                Learn more via my <a
                    class="text-link"
                    href="https://www.linkedin.com/in/nyx-iskandar/"
                    target="_blank">LinkedIn</a
                > profile!
            </p>
        </div>
        <div class="button-container" style="padding-bottom: 4rem;">
            <a href="/" class="button-purple back-button">Back</a>
        </div>
    </main>
</Layout>
