---
import Layout from "../layouts/Layout.astro";
import Topnav from "../components/Topnav.astro";
import Overview from "../components/Overview.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Contact from "../components/Contact.astro";
---

<Layout>
    <Topnav />
    <main>
        <Overview />
        <About />
        <Experience />
        <Contact />
    </main>
</Layout>

<style>
    main {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
    }
</style>
