---
import Layout from "../layouts/Layout.astro";
import Topnav from "../components/topnav/index.astro";
import Landing from "../components/Landing.astro";
import About from "../components/about/index.astro";
import Exp from "../components/exp/index.astro";
import Projects from "../components/projects/index.astro";
import Research from "../components/research/index.astro";
import Links from "../components/links/index.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <main
        class="min-h-screen flex flex-col items-center justify-center bg-primary-black text-white md:px-48 py-16"
    >
        <Topnav />
        <Landing />
        <About />
        <Exp />
        <Projects />
        <Research />
        <Links />
    </main>
    <Footer />
</Layout>
