---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
import Heading from "../components/Heading.astro";
import Link from "../components/Link.astro";

import nyx from "../assets/nyx.jpeg";
import logo from "../assets/logo.svg";
---

<Layout title="Nyx Iskandar">
    <main
        class="w-screen min-h-screen flex items-center justify-start flex-col gap-y-10 md:p-10 p-6"
    >
        <nav
            class="w-full md:w-1/2 h-fit flex items-center justify-between flex-row gap-x-4"
        >
            <Image src={logo} alt="xyntechx" width={50} />
            <div class="flex items-center justify-center md:gap-x-4 gap-x-2">
                <Link href="#about" display="#about" />
                <Link href="#research" display="#research" />
                <Link href="#exp" display="#exp" />
                <Link href="#connect" display="#connect" />
            </div>
        </nav>

        <section
            class="w-full md:w-1/2 h-fit flex items-center justify-center flex-col gap-y-2"
        >
            <Image
                src={nyx}
                alt="Nyx in front of the Golden Gate Bridge"
                width={200}
                class="rounded-full border-4 border-blue-200 p-2"
            />
            <h1 class="text-4xl font-bold pt-4">Nyx Iskandar</h1>
            <p class="text-gray-400 text-center">
                🐻 EECS + Public Policy @ UC Berkeley
            </p>
            <div
                class="text-gray-400 text-center flex items-center justify-center flex-row gap-x-1"
            >
                <p>🤖 Research @</p>
                <Link
                    href="https://humancompatible.ai/"
                    display="CHAI"
                    target="_blank"
                />
                <p>+</p>
                <Link
                    href="https://bair.berkeley.edu/"
                    display="BAIR"
                    target="_blank"
                />
                <p>+</p>
                <Link
                    href="https://brsl.berkeley.edu/"
                    display="BRSL"
                    target="_blank"
                />
            </div>
            <p class="text-gray-400 text-center">
                🚀 GovTech Singapore Scholar
            </p>
        </section>

        <section
            class="w-full md:w-1/2 h-fit flex items-start justify-center flex-col gap-y-2"
        >
            <Heading text="about" />
            <p class="w-full text-gray-400">
                I'm passionate about designing reliable AI planning agents,
                analyzing and contributing to public policy in AI safety and
                national security, as well as building AI applications for
                public good in general. In pursuit of these interests, I'm
                actively conducting research in action abstractions for
                black-box planning agents, data-centric AI governance, LLM
                safety testing, and AI for personalized education. I'm proud to
                have been awarded the prestigious Smart Nation Scholarship by
                GovTech Singapore to pursue my undergraduate studies in
                Electrical Engineering & Computer Sciences (EECS) and Public
                Policy at UC Berkeley.
            </p>
            <p class="w-full text-gray-400">
                Outside of tech, I love to play volleyball, climb/boulder, and
                draw manga!
            </p>
        </section>

        <section
            class="w-full md:w-1/2 h-fit flex items-start justify-center flex-col gap-y-2"
        >
            <Heading text="research" />
            <Card
                title="Center for Human-Compatible AI (CHAI)"
                desc="Studying and designing action abstractions to improve the optimality, reliability, and efficiency of black-box planning agents (primarily advised by Cameron Allen, endorsed by Prof Stuart Russell)"
                duration="Jun 2024 - Now"
            />
            <Card
                title="Berkeley Artificial Intelligence Research (BAIR) / Berkeley Risk and Security Lab (BRSL)"
                desc="Creating and testing novel technical approaches for data-centric AI governance for the Frontier Data Initiative (primarily advised by Ritwik Gupta, endorsed by Prof Andrew Reddie)"
                duration="Sep 2024 - Now"
            />
            <Card
                title="[Independent Research] AI for Education"
                desc="Creating an AI pipeline to personalize online textbooks to enhance learner motivation (advised by Prof Gireeja Ranade and Prof Narges Norouzi)"
                duration="Sep 2024 - Now"
            />
            <Card
                title="[Independent Research] Manga Layout Analysis"
                desc="Innovated a novel deep learning computer vision pipeline (instance segmentation and OCR) to automate the semantic and structural analysis of manga"
                duration="Apr 2021 - Dec 2022"
                links={[
                    {
                        href: "https://doi.org/10.1007/978-981-19-7222-5_6",
                        display: "published paper",
                    },
                    {
                        href: "https://github.com/xyntechx/Manga-Layout-Analysis",
                        display: "github",
                    },
                ]}
            />
        </section>

        <section
            class="w-full md:w-1/2 h-fit flex items-start justify-center flex-col gap-y-2"
        >
            <Heading text="exp" />
            <Card
                title="Government Technology Agency (GovTech) Singapore"
                position="AI Engineer/Researcher (Responsible AI Team)"
                duration="Sep 2024 - Now"
            />
            <Card
                title="Machine Learning at Berkeley"
                position="ML Engineer & External Relations Officer"
                duration="Sep 2023 - Now"
            />
            <Card
                title="Associated Students of the University of California, Office of the CTO"
                position="Product Owner & Lead Software Engineer"
                duration="Jan 2024 - May 2024"
            />
            <Card
                title="Government Technology Agency (GovTech) Singapore"
                position="Full Stack Software Engineering Intern"
                duration="Apr 2023 - Jul 2023"
            />
        </section>

        <section
            class="w-full md:w-1/2 h-fit flex items-start justify-center flex-col gap-y-2"
        >
            <Heading text="connect" />
            <Link
                href="https://github.com/xyntechx"
                target="_blank"
                display="github"
            />
            <Link
                href="https://www.linkedin.com/in/nyx-iskandar"
                target="_blank"
                display="linkedin"
            />
            <Link
                href="mailto:nyx@berkeley.edu"
                target="_blank"
                display="email"
            />
        </section>

        <p class="text-gray-400 text-center">
            Copyright &copy; 2024 Nyx Iskandar
        </p>
    </main>
</Layout>
