---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
import Heading from "../components/Heading.astro";
import Link from "../components/Link.astro";

import nyx from "../assets/nyx.jpeg";
import logo from "../assets/logo.svg";
---

<Layout title="Nyx Iskandar">
    <main
        class="w-screen min-h-screen flex items-center justify-start flex-col gap-y-10 md:p-10 p-6"
    >
        <nav
            class="w-full md:w-1/2 h-fit flex items-center justify-between flex-row gap-x-4"
        >
            <Image src={logo} alt="xyntechx" width={50} />
            <div class="flex items-center justify-center gap-x-4">
                <Link href="#about" display="#about" />
                <Link href="#projects" display="#projects" />
                <Link href="#connect" display="#connect" />
            </div>
        </nav>

        <section
            class="w-full md:w-1/2 h-fit flex items-center justify-center flex-col gap-y-2"
        >
            <Image
                src={nyx}
                alt="Nyx in front of the Golden Gate Bridge"
                width={200}
                class="rounded-full border-4 border-blue-200 p-2"
            />
            <h1 class="text-4xl font-bold pt-4">Nyx Iskandar</h1>
            <p class="text-gray-400 text-center">
                🐻 EECS + Public Policy (+ Economics) @ UC Berkeley
            </p>
            <p class="text-gray-400 text-center">
                🤖 AI Undergrad Researcher @ Center for Human-Compatible AI
            </p>
            <p class="text-gray-400 text-center">
                🚀 GovTech Singapore Scholar
            </p>
        </section>

        <section
            class="w-full md:w-1/2 h-fit flex items-start justify-center flex-col gap-y-2"
        >
            <Heading text="about" />
            <p class="w-full text-gray-400">
                My passion lies in the unique union of engineering and public
                policy in technology. Currently, I'm an undergraduate researcher
                at the Center for Human-Compatible AI studying focused
                macro-actions (action abstractions) to design more optimal,
                reliable, and efficient black-box planning agents. This research
                interest naturally complements my pursuits in tech policy,
                primarily in the realm of safe and responsible AI. In terms of
                the applications of AI, I'm particularly interested in AI for
                education, believing in the power of personalized learning and
                education itself to propel personal and societal progress. All
                in all, my interdisciplinary interests bolster my ultimate
                mission of shaping tech for public good.
            </p>
        </section>

        <section
            class="w-full md:w-1/2 h-fit flex items-start justify-center flex-col gap-y-2"
        >
            <Heading text="projects" />
            <Card
                title="Manga Layout Analysis"
                desc="a deep learning computer vision pipeline (instance segmentation and OCR) to automate the semantic and structural analysis of manga"
                links={[
                    {
                        href: "https://doi.org/10.1007/978-981-19-7222-5_6",
                        display: "paper",
                    },
                    {
                        href: "https://github.com/xyntechx/Manga-Layout-Analysis",
                        display: "github",
                    },
                ]}
            />
            <Card
                title="NexLiber"
                desc="an edutech platform to promote greater accessibility in coding education and wider collaboration among developers"
                links={[
                    {
                        href: "https://nexliber.vercel.app/",
                        display: "website",
                    },
                    {
                        href: "https://github.com/xyntechx/NexLiber",
                        display: "github",
                    },
                ]}
            />
            <Card
                title="ASUC Elections Dashboard"
                desc="a dashboard to analyze and visualize UC Berkeley student government election outcomes"
                links={[
                    {
                        href: "https://asuc-elections.vercel.app/",
                        display: "website",
                    },
                    {
                        href: "https://github.com/xyntechx/asuc-elections",
                        display: "github",
                    },
                ]}
            />
        </section>

        <section
            class="w-full md:w-1/2 h-fit flex items-start justify-center flex-col gap-y-2"
        >
            <Heading text="connect" />
            <Link
                href="https://github.com/xyntechx"
                target="_blank"
                display="github"
            />
            <Link
                href="https://www.linkedin.com/in/nyx-iskandar"
                target="_blank"
                display="linkedin"
            />
            <Link
                href="mailto:nyx@berkeley.edu"
                target="_blank"
                display="email"
            />
        </section>

        <p class="text-gray-400 text-center">
            Copyright &copy; 2024 Nyx Iskandar
        </p>
    </main>
</Layout>
