---
import Layout from "../layouts/Layout.astro";
import "../styles/styles.css";
---

<Layout title="Nyx Iskandar">
	<main class="main">
		<section class="container">
			<div class="fadein">
				<span>print(“Hello, World! I'm ”)</span>
				<span>console.log(“Hello, World! I'm ”)</span>
				<span>cout << "Hello, World! I'm ";</span>
				<span>Console.WriteLine("Hello, World! I'm ");</span>
				<span>System.out.println("Hello, World! I'm ");</span>
			</div>
			<h1 class="name">Nyx Iskandar</h1>
		</section>
		<section class="container">
			<a href="about" class="button-red">About</a>
			<a href="projects" class="button-blue">Projects</a>
			<a href="experience" class="button-purple">Experience</a>
		</section>
	</main>
</Layout>
