---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="container">
        <h1>nyx</h1>
        <footer class="footer">
            <sub>
                Copyright &copy; 2023 Nyx Audrey Angelo Iskandar
            </sub>
        </footer>
    </div>
</Layout>

<style>
	.container {
		width: 80%;
	}
	.footer {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		border-top: 2px solid #000;
		padding: 1rem;
	}

	.footer sub {
		font-size: 0.8rem;
	}
</style>
