---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import Paper from "../components/Paper.astro";

import { Image } from "astro:assets";
import nyxPP from "../assets/nyx.jpg";
---

<Layout>
    <main
        class="flex items-center justify-center flex-col gap-12 py-12 px-4 md:px-0 md:w-1/2 w-full"
    >
        <div class="w-full flex items-center justify-center flex-row gap-4">
            <div class="w-[80px] h-[80px]">
                <Image
                    src={nyxPP}
                    alt="Nyx Profile Picture"
                    class="rounded-sm"
                />
            </div>
            <div class="flex items-start justify-center flex-col flex-1 gap-2">
                <h1 class="text-2xl font-bold">nyx iskandar</h1>
                <div
                    class="flex items-center justify-center flex-row gap-4 text-sm"
                >
                    <Link text="git" url="https://github.com/xyntechx" />
                    <p>&#183;</p>
                    <Link
                        text="orcid"
                        url="https://orcid.org/0009-0008-4361-3364"
                    />
                    <p>&#183;</p>
                    <Link
                        text="in"
                        url="https://www.linkedin.com/in/nyx-iskandar/"
                    />
                    <p>&#183;</p>
                    <Link text="@" url="mailto:nyx@berkeley.edu" />
                </div>
            </div>
        </div>
        <div
            class="w-full flex items-start justify-center flex-col border-y-2 py-4 px-1 text-sm"
        >
            <p>
                electrical engineering & computer sciences (honors), <span
                    class="font-bold">uc berkeley</span
                >
            </p>
            <p>
                research, <span class="font-bold">berkeley ai research</span> + <span
                    class="font-bold">center for human-compatible ai</span
                >
            </p>
            <p>undergraduate fellow, <span class="font-bold">openai</span></p>
            <p>
                tech scholar, <span class="font-bold">govtech singapore</span>
            </p>
            <div
                class="flex items-center justify-end flex-row gap-x-4 text-amber-500 w-full pt-2 flex-wrap"
            >
                <p>#rl</p>
                <p>#planning</p>
                <p>#grounded-intelligence</p>
                <p>#experiential-intelligence</p>
            </div>
        </div>
        <div class="w-full flex items-start justify-center flex-col gap-y-4">
            <h1>
                <span class="font-bold">publications</span>
                <span class="text-gray-500 text-xs">(*=equal contribution)</span
                >
            </h1>
            <Paper
                title="A Matter of Representation: Towards Graph-Based Abstract Code Generation"
                venue="NeurIPS (DL4C workshop), 2025"
                authors={["Nyx Iskandar", "Hisham Bedri", "Andy Tsen"]}
                links={[
                    {
                        text: "paper",
                        url: "https://doi.org/10.48550/arXiv.2510.13163",
                    },
                    {
                        text: "code",
                        url: "https://github.com/xyntechx/graph-abstract-code-gen",
                    },
                ]}
            />
            <Paper
                title="Online Trust and Safety: Tools to Combat Online Harms, Misinformation, and Malicious Content"
                venue="Book Chapter - Publisher: Taylor & Francis CRC Press"
                authors={[
                    "Jia Yi Goh*",
                    "Shaun Khoo*",
                    "Nyx Iskandar*",
                    "Gabriel Chua*",
                    "Leanne Tan*",
                    "Jessica Foo*",
                ]}
                links={[]}
            />
            <Paper
                title="Measuring What Matters: A Framework for Evaluating Safety Risks in Real-World LLM Applications"
                venue="ICML (TAIG workshop), 2025 (spotlight)"
                authors={[
                    "Jia Yi Goh*",
                    "Shaun Khoo*",
                    "Nyx Iskandar*",
                    "Gabriel Chua",
                    "Leanne Tan",
                    "Jessica Foo",
                ]}
                links={[
                    {
                        text: "paper",
                        url: "https://doi.org/10.48550/arXiv.2507.09820",
                    },
                ]}
            />
            <Paper
                title="Manga Layout Analysis via Deep Learning"
                venue="IRC-SET, 2022"
                authors={["Nyx Iskandar"]}
                links={[
                    {
                        text: "paper",
                        url: "https://doi.org/10.1007/978-981-19-7222-5_6",
                    },
                    {
                        text: "code",
                        url: "https://github.com/xyntechx/Manga-Layout-Analysis",
                    },
                ]}
            />
        </div>
        <div class="w-full flex items-start justify-center flex-col gap-y-4">
            <h1 class="font-bold">mentors</h1>
            <div
                class="flex items-center justify-center flex-row gap-4 text-sm"
            >
                <Link text="cam allen" url="https://camallen.net/" />
                <p>&#183;</p>
                <Link text="ritwik gupta" url="https://ritwikgupta.me/" />
                <p>&#183;</p>
                <Link text="tyna eloundou" url="https://eloundou.net/" />
            </div>
        </div>
    </main>
</Layout>
