---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nyx Iskandar">
    <main
        class="w-screen min-h-screen flex items-center justify-center flex-col gap-y-4"
    >
        <div
            class="flex items-center justify-center flex-col bg-triangle bg-no-repeat bg-center bg-[length:150px_150px] h-[150px] w-fit"
        >
            <h1 class="text-4xl font-semibold">nyx iskandar</h1>
            <p>ai/ml researcher {"<>"} full stack swe</p>
        </div>
        <div class="flex flex-row items-center justify-center gap-x-4">
            <a
                href="/about"
                class="px-4 py-1 bg-black text-white rounded-lg transition-colors hover:bg-gray-800"
                >/about</a
            >
            <a
                href="/projects"
                class="px-4 py-1 bg-black text-white rounded-lg transition-colors hover:bg-gray-800"
                >/projects</a
            >
            <a
                href="/nyx-resume.pdf"
                class="px-4 py-1 bg-black text-white rounded-lg transition-colors hover:bg-gray-800"
                >/resume</a
            >
        </div>
        <div
            class="flex flex-row items-center justify-center gap-x-4 bottom-[10px] fixed"
        >
            <a
                href="https://github.com/xyntechx"
                target="_blank"
                class="underline transition-colors hover:text-white">github</a
            >
            <a
                href="https://www.linkedin.com/in/nyx-iskandar"
                target="_blank"
                class="underline transition-colors hover:text-white">linkedin</a
            >
            <a
                href="mailto:nyx@berkeley.edu"
                target="_blank"
                class="underline transition-colors hover:text-white">email</a
            >
        </div>
    </main>
</Layout>
