---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout>
  <main
    class="flex items-center justify-center flex-col gap-4 py-12 px-4 md:px-0 md:w-2/5 w-full"
  >
    <h1 class="font-bold w-full text-justify">Nyx?</h1>
    <p class="text-sm w-full text-justify">
      I'm named after <Link href="https://en.wikipedia.org/wiki/Nyx"
        >Greek goddess of the night Nyx</Link
      >, and the name's pronounced like New York <span class="font-bold"
        >Knicks</span
      >. Though I'm only marginally familiar with Greek mythology, ditto for the
      NBA. Also this happens too frequently that it warrants a disclaimer: the
      last name's spelled with an 'a', not an 'e' :))
    </p>
    <p class="text-xs w-full text-justify">
      <Link href="/" target="_self">{"<"} okay cool!</Link>
    </p>
  </main>
</Layout>
