---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main
        class="flex items-center justify-center flex-col gap-4 py-12 px-4 md:px-0 md:w-1/2 w-full"
    >
        <h1 class="font-bold w-full text-justify">Nyx?</h1>
        <p class="text-sm w-full text-justify">
            I'm named after <a
                href="https://en.wikipedia.org/wiki/Nyx"
                target="_blank"
                class="underline text-blue-500"
                >Greek goddess of the night Nyx</a
            >, and the name's pronounced like New York <span class="font-bold"
                >Knicks</span
            >. Though I'm only marginally familiar with Greek mythology, ditto
            for the NBA. Also this happens too frequently that it warrants a
            disclaimer: the last name's spelled with an 'a', not an 'e' :))
        </p>
        <p class="text-xs w-full text-justify">
            <a href="/" class="underline text-blue-500">{"<"} okay cool!</a>
        </p>
    </main>
</Layout>
