---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nyx Iskandar | Projects">
    <main
        class="w-screen h-screen flex items-center justify-center flex-col gap-y-4"
    >
        <div
            class="group pb-10 flex items-center justify-center flex-col gap-y-1"
        >
            <a
                href="/about"
                class="text-4xl text-white animate-pulse group-hover:animate-none"
                >&uarr;</a
            >
            <a
                href="/about"
                class="bg-white bg-opacity-50 px-4 rounded-full border border-white opacity-0 transition-opacity group-hover:opacity-100"
            >
                /about
            </a>
        </div>
        <div
            class="flex items-center justify-center flex-col bg-triangle bg-no-repeat bg-center bg-[length:150px_150px] h-[150px] w-fit"
        >
            <h1 class="text-4xl font-semibold">project highlights</h1>
        </div>
        <div class="w-4/5 px-4 grid grid-cols-2 gap-x-10 gap-y-10">
            <div
                class="border border-white rounded-lg p-4 gap-y-4 flex items-start flex-col justify-between"
            >
                <div class="flex items-start justify-center flex-col">
                    <h3>manga layout analysis via deep learning</h3>
                    <p class="text-gray-500">
                        : a deep learning computer vision pipeline (instance
                        segmentation & ocr) to automate the semantic and
                        structural analysis of manga
                    </p>
                </div>
                <div class="flex items-start justify-center gap-x-4">
                    <a
                        href="https://doi.org/10.1007/978-981-19-7222-5_6"
                        target="_blank"
                        class="underline transition-colors hover:text-white"
                        >paper</a
                    >
                    <a
                        href="https://github.com/xyntechx/Manga-Layout-Analysis"
                        target="_blank"
                        class="underline transition-colors hover:text-white"
                        >github</a
                    >
                </div>
            </div>
            <div
                class="border border-white rounded-lg p-4 gap-y-4 flex items-start flex-col justify-between"
            >
                <div class="flex items-start justify-center flex-col">
                    <h3>asuc elections dashboard</h3>
                    <p class="text-gray-500">
                        : a dashboard to analyze & visualize uc berkeley student
                        government election outcomes
                    </p>
                </div>
                <div class="flex items-start justify-center gap-x-4">
                    <a
                        href="https://asuc-elections.vercel.app/"
                        target="_blank"
                        class="underline transition-colors hover:text-white"
                        >website</a
                    >
                    <a
                        href="https://github.com/xyntechx/asuc-elections"
                        target="_blank"
                        class="underline transition-colors hover:text-white"
                        >github</a
                    >
                </div>
            </div>
            <div
                class="border border-white rounded-lg p-4 gap-y-4 flex items-start flex-col justify-between"
            >
                <div class="flex items-start justify-center flex-col">
                    <h3>ssa.berkeley.edu</h3>
                    <p class="text-gray-500">
                        : the website for uc berkeley's singapore student
                        association
                    </p>
                </div>
                <div class="flex items-start justify-center gap-x-4">
                    <a
                        href="https://ssa.berkeley.edu/"
                        target="_blank"
                        class="underline transition-colors hover:text-white"
                        >website</a
                    >
                    <a
                        href="https://github.com/xyntechx/ssa-website"
                        target="_blank"
                        class="underline transition-colors hover:text-white"
                        >github</a
                    >
                </div>
            </div>
            <div
                class="border border-white rounded-lg p-4 gap-y-4 flex items-start flex-col justify-between"
            >
                <div class="flex items-start justify-center flex-col">
                    <h3>hlass (under active development)</h3>
                    <p class="text-gray-500">
                        : the one-stop curriculum resource for uc berkeley haas
                        undergraduate students
                    </p>
                </div>
                <div class="flex items-start justify-center gap-x-4">
                    <a
                        href="https://hlass.vercel.app/"
                        target="_blank"
                        class="underline transition-colors hover:text-white"
                        >website</a
                    >
                    <a
                        href="https://github.com/xyntechx/hlass"
                        target="_blank"
                        class="underline transition-colors hover:text-white"
                        >github</a
                    >
                </div>
            </div>
        </div>
        <div
            class="group pt-10 flex items-center justify-center flex-col gap-y-1"
        >
            <a
                href="/resume.pdf"
                class="bg-white bg-opacity-50 px-4 rounded-full border border-white opacity-0 transition-opacity group-hover:opacity-100"
            >
                /resume
            </a>
            <a
                href="/resume.pdf"
                class="text-4xl text-white animate-pulse group-hover:animate-none"
                >&darr;</a
            >
        </div>
    </main>
</Layout>
