---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
import "../styles/styles.css";
---

<Layout title="Nyx Iskandar | Projects">
    <main
        class="main"
        style="flex-direction: column; justify-content: flex-start;"
    >
        <Project
            imageUrl="/projects/nexliber.png"
            name="NexLiber"
            description="NexLiber is a comprehensive library of projects to supercharge your learning in all things Computer Science."
            githubUrl="https://github.com/xyntechx/NexLiber"
        />
        <Project
            imageUrl="/projects/nxpyre.png"
            name="NXpyre"
            description="NXpyre is a platform connecting youth and professionals to inspire youth to seize opportunities beyond school and pursue their interests and career aspirations."
            githubUrl="https://github.com/xyntechx/NXpyre"
        />
        <Project
            imageUrl="/projects/mla.png"
            name="MLA"
            description="Manga Layout Analysis via Deep Learning is an end-to-end system integration of instance segmentation models, novel algorithms, and optical character recognisers as a complete solution for the adaptation of manga into other media."
            githubUrl="https://github.com/xyntechx/Manga-Layout-Analysis"
        />
        <Project
            imageUrl="/projects/diKnow.png"
            name="diKnow"
            description="diKnow is a web application where you can search for, bookmark, and ultimately learn about dinosaurs."
            githubUrl="https://github.com/xyntechx/diKnow"
        />
        <div class="explore">
            <p style="background-color: #4cb6c8; padding: 0.2rem 0">
                Explore more projects on <a
                    class="text-link"
                    href="https://github.com/xyntechx"
                    target="_blank">GitHub</a
                >!
            </p>
        </div>
        <div class="button-container" style="padding-bottom: 4rem;">
            <a href="/" class="button-blue back-button">Back</a>
        </div>
    </main>
</Layout>
