---
import Layout from "../layouts/Layout.astro";
import Paper from "../components/research/paper.astro";

interface IPaper {
    title: string;
    authors?: string[];
    description: string;
    conference: string;
    color: "bg-green-300" | "bg-orange-300" | "bg-gray-xyn";
    paperUrl?: string;
    githubUrl?: string;
}

const papers: IPaper[] = [
    {
        title: "Measuring What Matters: A Framework for Evaluating Safety Risks in Real-World LLM Applications",
        authors: [
            "Jia Yi Goh*",
            "Shaun Khoo*",
            "Nyx Iskandar*",
            "Gabriel Chua",
            "Leanne Tan",
            "Jessica Foo",
        ],
        description:
            "A practical framework for evaluating application-level safety in LLM systems, validated through real-world deployment across multiple use cases.",
        conference: "ICML 2025 TAIG Workshop (Oral)",
        color: "bg-green-300",
        // paperUrl: "TBD",
    },
    {
        title: "Manga Layout Analysis via Deep Learning",
        authors: ["Nyx Iskandar"],
        description:
            "An end-to-end automated manga reading and analysis system leveraging instance segmentation and optical character recognition.",
        conference: "IRC-SET 2022",
        color: "bg-green-300",
        paperUrl: "https://doi.org/10.1007/978-981-19-7222-5_6",
        githubUrl: "https://github.com/xyntechx/Manga-Layout-Analysis",
    },
];
---

<Layout title="Nyx Iskandar | Research">
    <main
        class="w-full md:w-3/5 min-h-screen flex items-start justify-start flex-col p-10 md:p-20 gap-x-4 gap-y-10"
    >
        <div class="w-full flex items-center justify-between flex-row">
            <h1 class="text-5xl font-extrabold text-blue-xyn">Research</h1>
            <a href="/" class="underline underline-offset-4">&lt; Back</a>
        </div>
        {papers.map((p) => <Paper {...p} />)}
    </main>
</Layout>
