---
import Layout from "../layouts/Layout.astro";
---

<!-- If you found this through GitHub, please message me on Discord (username: xyntechx) with the password to tell me that you've found the secret too! -->
<!-- Don't forget to star this repo as well! Thanks :D -->

<Layout>
    <nav>
        <a href="/" class="link"><span class="back">&lt;</span> Home</a>
    </nav>
    <main>
        <h1>You found the <span class="secret">secret</span>!</h1>
        <p>
            Please message me on Discord (username: <span class="orange"
                >xyntechx</span
            >) with the password to tell me that you've found it! Can't wait to
            chat with you :D
        </p>
        <p>Password: <span class="orange">venividivici</span></p>
    </main>
</Layout>

<style>
    main {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        row-gap: 1rem;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 90%;
        padding: 1rem;
        font-weight: 800;
        position: fixed;
        top: 0;
    }

    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
    }

    .secret {
        opacity: 0.1;
    }

    .orange {
        color: var(--orange);
        font-weight: 800;
    }

    .back {
        transition: 0.15s;
    }

    .link:hover .back {
        color: var(--orange);
    }
</style>
