---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import symbols from "../assets/symbols.png";
---

<Layout>
  <main
    class="flex items-center justify-center flex-col gap-4 py-12 px-4 md:px-0 md:w-2/5 w-full"
  >
    <h1 class="font-bold w-full text-justify">Syntax</h1>
    <p class="text-sm w-full text-justify italic">
      "Intelligence is not what you know, it's what you do when you don't know."
    </p>
    <p class="text-sm w-full text-justify">
      I want to build a new model architecture that becomes the basis of a truly
      intelligent civilization of AI agents. By truly intelligent, I mean agents
      that understand the world and can develop their own arbitrary language
      that is intrinsically tied to the world, not agents that seem to
      understand the world because they've been trained on a mega large corpus
      of an existing language.
    </p>
    <p class="text-sm w-full text-justify">
      This curiosity stems from many different sources. My dissatisfaction with
      how LLMs work is one; optimizing for next token prediction does not imply
      language understanding nor does it imply intelligence, and enforcing a
      specific existing language (English) for entities (agents) to use does not
      cultivate intelligence either. Yes LLMs are practical and are already the
      basis of widely used tools, no doubt about that, but the
      nerd/researcher/engineer in me believes there is a better way to develop
      agents that can actually understand what they're communicating,
      associating concepts/entities/actions with language. Moving away from the
      technical side, I mourn the loss of a globally shared experience at the
      scale of something like FRIENDS, and today's attempts at building in the
      intersection of AI and entertainment/gaming lack imagination and novelty.
      There are artifacts that can only be built with AI, i.e. not video gen,
      "world models", etc. And on the more sci-fi side, the joke that we're all
      living in a simulation has always amused me, so why not build an actual
      one, where the simulated are AI agents (and maybe then it's turtles all
      the way down).
    </p>
    <p class="text-sm w-full text-justify">
      Going into more detail regarding what I want to build, I envision a
      digital world that mirrors our own, where agents must collaborate together
      to build a society, and because of that need for collaboration the need
      for communication also arises. Simply spewing out words (tokens) without
      connecting them to actual concepts/entities/actions will not suffice (see
      the LLM test involving walking to a car wash). This is where the new
      architecture comes in. The new architecture enables agents to take as
      input a recent contiguous sequence of images, and return as output tokens
      that communicate a target idea embedded into said sequence.
    </p>
    <p class="text-sm w-full text-justify">
      Results from preliminary research work that I've done can be seen below.
      In this setup, a listener agent is trained to classify solid colors as
      "warm" or "cool", and a speaker agent is trained to output a binary matrix
      that is converted into an image with black and white pixels that must
      result in the same classification by the listener agent as when the actual
      solid color is given as input. What's interesting is that there is a
      distinct symbol to communicate the concept of a warm color, and a distinct
      symbol to communicate the concept of a cool color, despite those two
      concepts not being visually distinguishable, unlike the work done by <Link
        href="https://benjaminaspiegel.com/files/Siggame_CogSci_2025.pdf"
        >Spiegel et al. (2025)</Link
      >.
    </p>
    <Image src={symbols} alt="Generated symbols for warm and cool colors" />
    <p class="text-sm w-full text-justify">
      Not only will technical folks love building this kind of new tech and
      understanding machine learning and intelligence better with it, the
      general public will also find this intriguing. Because of the arbitrary
      language that these agents will converge to, there is a great opportunity
      here for "theorizing". By that I mean people collectively figuring out the
      language these agents will be speaking (i.e. mapping tokens to concepts).
      It will be an exciting and intellectually stimulating shared experience
      that I myself am already excited about. Imagine learning and making sense
      of a new language that doesn't even yet exist! Now this is entertainment
      that is quote-unquote, "AI-native".
    </p>
    <p class="text-sm w-full text-justify">
      I'm a researcher and engineer at heart, so frankly my primary motivation
      for building this is for the love of the tech. Having said that, knowing
      how popular games like Tomodachi Life are, and how many people watch fun
      theory channels like The Game Theorists and SuperCarlinBrothers, and how
      AI has now entered and been embedded into the public zeitgeist, correctly
      executing and sharing this tech will take the world by storm.
    </p>
    <p class="text-sm w-full text-justify">
      And before the comments come in, I'm not suggesting we build the
      Terminator, nor will this civilization of agents be anywhere in the "real
      world". It will all live in a digital simulation, and these agents will
      not have the tools to "break out of the matrix" or anything like that. I'm
      also most definitely not here to sell slop, nor am I out to take anyone's
      job and/or passion away from them with B2B SaaS.
    </p>
    <p class="text-sm w-full text-justify">
      At the end of the day, this is a science project that is built in public
      for everyone to enjoy and for the highly curious and interested to
      contribute to.
    </p>
    <p class="text-sm w-full text-justify">
      As for the name, Syntax seems to be an appropriate choice. These agents
      will learn syntax, and we humans will figure out that learned syntax.
      Plus, syntax is the basis of my eternal username, xyntechx. Fun stuff :)
    </p>
  </main>
</Layout>
