---
import { Image } from "astro:assets";
import github from "../../assets/github.svg";
import linkedin from "../../assets/linkedin.svg";
import email from "../../assets/email.svg";
---

<div class="w-full flex items-end justify-start flex-row gap-x-2">
    <h1 class="text-5xl font-extrabold text-blue-xyn">nyx</h1>
    <p>[at] berkeley.edu</p>
</div>

<p class="w-full text-left">
    undergraduate researcher and government scholar interested in multi-agent
    vision for cooperative AI, AI x education, and capability benchmarking for
    governance
</p>

<div class="w-full flex items-center justify-start flex-row gap-x-2">
    <a href="https://github.com/xyntechx" target="_blank">
        <Image src={github} alt="https://github.com/xyntechx" height={20} />
    </a>
    <a href="https://www.linkedin.com/in/nyx-iskandar/" target="_blank">
        <Image
            src={linkedin}
            alt="https://www.linkedin.com/in/nyx-iskandar/"
            height={20}
        />
    </a>
    <a href="mailto:nyx@berkeley.edu" target="_blank">
        <Image src={email} alt="mailto:nyx@berkeley.edu" height={20} />
    </a>
</div>

<div
    class="w-full border border-t-gray-xyn border-b-gray-xyn border-l-transparent border-r-transparent py-2"
>
    <p>
        EECS (Honors) + Public Policy (Emerging Tech Policy), <span
            class="text-blue-xyn">UC Berkeley</span
        >
    </p>
    <p>
        Research, Berkeley AI Research (<span class="text-blue-xyn">BAIR</span>)
    </p>
    <p>
        Research, Center for Human-Compatible AI (<span class="text-blue-xyn"
            >CHAI</span
        >)
    </p>
    <p>
        Research, Berkeley Risk and Security Lab (<span class="text-blue-xyn"
            >BRSL</span
        >)
    </p>
    <p>
        Scholar, Government Technology Agency (<span class="text-blue-xyn"
            >GovTech</span
        >) Singapore
    </p>
</div>
