<div class="w-full text-left text-stone-600 border-l-2 border-stone-600 pl-2">
    <p>root@xyntechx ~ % whoami</p>
    <p>Nyx Audrey Angelo Iskandar</p>
</div>

<div class="w-full flex items-end justify-start flex-row gap-x-2">
    <h1 class="text-5xl font-extrabold text-blue-xyn">nyx</h1>
    <p>[at] berkeley.edu</p>
</div>

<p class="w-full text-left">
    AI researcher and government tech scholar interested in cognitive robotics,
    representation learning, and responsible AI
</p>

<div
    class="w-full border border-t-gray-xyn border-b-gray-xyn border-l-transparent border-r-transparent py-2"
>
    <p>
        B.S. Electrical Engineering & Computer Sciences (Honors), <span
            class="text-blue-xyn">UC Berkeley</span
        >
    </p>
    <p>
        Research, <span class="text-blue-xyn">Berkeley AI Research</span> + <span
            class="text-blue-xyn">Center for Human-Compatible AI</span
        >
    </p>
    <p>
        Scholar, Government Technology Agency (<span class="text-blue-xyn"
            >GovTech</span
        >) Singapore
    </p>
</div>
