<section>
    <h1><span class="titleArrow">&gt;</span> About Me</h1>
    <div>
        <p>
            I'm a freshman at <span class="orange">UC Berkeley</span> studying <br
            /> Electrical Engineering & Computer Sciences (<span class="orange"
                >EECS</span
            >)
        </p>
        <p>
            I've been awarded the
            <span class="orange">Smart Nation Scholarship</span>
            <br /> by GovTech Singapore
        </p>
        <p>I love to <span class="orange">create for the community</span></p>
    </div>
</section>

<style>
    section {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        min-height: 70vh;
        width: fit-content;
        padding: 1rem;
    }

    div {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        row-gap: 1rem;
        margin-top: 2rem;
    }

    .orange {
        color: var(--orange);
    }
</style>
