<div class="w-full text-left text-stone-600 border-l-2 border-stone-600 pl-2">
    <p>user@xyntechx ~ % cat mentors.md</p>
    <p>Ritwik Gupta, Cam Allen, Gireeja Ranade, Andrew Reddie</p>
</div>

<div class="w-full text-left text-stone-600 border-l-2 border-stone-600 pl-2">
    <p>user@xyntechx ~ % cat current.md</p>
    <p>AI/VR Engineering Intern @ Ramen VR</p>
</div>

<div class="w-full text-left text-stone-600 border-l-2 border-stone-600 pl-2">
    <p>user@xyntechx ~ % cat exp.md</p>
    <p>ML Research Mentor @ Algoverse</p>
    <p>AI Engineer/Research Intern @ GovTech Singapore</p>
    <p>Teaching Assistant: AI and Public Policy @ UC Berkeley</p>
</div>
