<div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4">
    <div
        class="w-full text-left text-stone-600 border-l-2 border-stone-600 pl-2"
    >
        <p class="text-stone-700">user@xyntechx ~ % cat mentors.md</p>
        <p>Ritwik Gupta (BAIR)</p>
        <p>Cam Allen (CHAI)</p>
        <p>Tyna Eloundou (OpenAI)</p>
    </div>

    <div
        class="w-full text-left text-stone-600 border-l-2 border-stone-600 pl-2"
    >
        <p class="text-stone-700">user@xyntechx ~ % cat exp.md</p>
        <p>Principal Engineer @ UNCHAIN</p>
        <p>AI/VR Engineering Intern @ Ramen VR</p>
        <p>AI Engineer/Research Intern @ GovTech Singapore</p>
    </div>
</div>
