<head>
    <script
        src="https://www.google.com/recaptcha/api.js?render=6LfvXEEkAAAAAOlglJA2n44UbSieij0Ozk1efH-I"
    >
        grecaptcha.ready(() => {
            grecaptcha
                .execute("6LfvXEEkAAAAAOlglJA2n44UbSieij0Ozk1efH-I", {
                    action: "homepage",
                })
                .then((token) => {
                    document.getElementById("captchaResponse").value = token;
                });
        });
    </script>
</head>

<form
    action="https://getform.io/f/66010af6-9f3b-453d-9256-3d8d56be46ef"
    method="POST"
    class="container"
>
    <h1 class="title">Contact Me</h1>
    <p class="text">
        Want to collaborate, have questions about my projects, need a freelance
        web developer, or just want to chat? I'd love to hear from you!
    </p>
    <input
        type="text"
        name="name"
        placeholder="Name"
        class="input"
        required
        aria-required="true"
    />
    <input
        type="email"
        name="email"
        placeholder="Email"
        class="input"
        required
        aria-required="true"
    />
    <textarea
        name="message"
        placeholder="Message"
        rows="10"
        class="input"
        required
        aria-required="true"></textarea>
    <input type="hidden" name="_gotcha" style="display:none !important" />
    <input type="hidden" id="captchaResponse" name="g-recaptcha-response" />
    <button type="submit" class="button">Let's Go!</button>
</form>

<style>
    .container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: fit-content;
        margin-top: 5rem;
    }

    .title {
        margin: 0;
        margin-bottom: 1rem;
        width: 100%;
        text-align: left;
        font-size: 1.5rem;
        color: #ff6633;
    }

    .text {
        color: #ffffff99;
        font-size: 1rem;
        margin: 0;
        margin-bottom: 1rem;
    }

    .input {
        background-color: #ffffff33;
        border-radius: 0.5rem;
        border: 1px solid #ffffff4d;
        padding: 0.5rem;
        color: #fff;
        font-size: 1rem;
        outline: none;
        width: 100%;
        min-height: 20px;
        margin-top: 0.5rem;
        transition: 0.15s;
        font: inherit;
    }

    .input:focus {
        background-color: #ff663333;
    }

    .button {
        padding: 0.5rem 2rem;
        width: fit-content;
        outline: none;
        background-color: #ffffff33;
        border-radius: 1rem;
        border: 1px solid #ffffff4d;
        cursor: pointer;
        color: #fff;
        margin: 0.5rem 0;
        font-size: 1rem;
        transition: 0.15s;
        margin-top: 1rem;
    }

    .button:hover,
    .button:focus {
        background-color: #ff663333;
    }

    @media (max-width: 900px) {
        .container {
            width: 90%;
        }

        .title {
            font-size: 1.2rem;
        }

        .text,
        .input,
        .button {
            font-size: 0.8rem;
        }
    }
</style>
