<form
    id="contact"
    action="https://getform.io/f/66010af6-9f3b-453d-9256-3d8d56be46ef"
    method="POST"
>
    <h1><span class="titleArrow">&gt;</span> Contact Me</h1>
    <input
        type="text"
        name="name"
        placeholder="Name"
        required
        aria-required="true"
    />
    <input
        type="email"
        name="email"
        placeholder="Email"
        required
        aria-required="true"
    />
    <textarea
        name="message"
        placeholder="Message"
        rows="10"
        required
        aria-required="true"></textarea>
    <input type="hidden" name="_gotcha" style="display:none !important" />
    <div
        class="h-captcha"
        style="margin-top: 0.5rem"
        data-sitekey="32ede372-e714-414e-a49d-db877366b79f"
    >
    </div>
    <button type="submit">Send</button>
</form>

<style>
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 70vh;
        width: fit-content;
        padding: 1rem;
        row-gap: 1rem;
        margin: 5rem 0;
    }

    h1 {
        margin-bottom: 1rem;
        width: 100%;
        text-align: left;
    }

    input,
    textarea {
        width: 50vw;
        padding: 1rem;
        background-color: rgb(229 231 235);
        border: none;
        outline: none;
        font-size: 1rem;
        border-radius: 0.5rem;
    }

    button {
        outline: none;
        border: 1px solid var(--orange);
        padding: 0.5rem 1rem;
        background-color: var(--orange);
        font-weight: 800;
        color: #fff;
        width: 50%;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: 0.15s;
    }

    button:hover {
        background-color: #fff;
        color: var(--orange);
    }

    @media (max-width: 768px) {
        input,
        button,
        textarea {
            width: 100%;
        }
    }
</style>
