---
interface Props {
    text: string;
}

const { text } = Astro.props;
---

<a
    href=`#${text}`
    class="w-full flex items-center justify-start border-b-2 border-blue-200 py-1"
>
    <h1
        id={text}
        class="text-3xl font-bold transition-colors hover:text-blue-400 hover:cursor-pointer"
    >
        #{text}
    </h1>
</a>
