<div class="container">
    <p>profile pic</p> <!--  TODO  -->
    <div class="intro">
        <h1>Nyx Iskandar</h1>
        <p>A creative creating creative things</p>
        <div class="socials">
            <p>github</p> <!--  TODO  -->
            <p>linkedin</p> <!--  TODO  -->
        </div>
    </div>
</div>

<style>
    h1, p {
        margin: 0;
    }

    .container {
        width: 100%;
        min-height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        column-gap: 5rem;
    }

    .intro {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
</style>
