<section class="mainContainer">
    <h1 class="title">TL;DR:</h1>
    <p class="text">
        I'm an innovative coder and tech founder passionate about <span
            class="highlight">creating for the community</span
        >. My ardent techie spirit has led me to become a <span
            class="highlight">GovTech Smart Nation Scholar</span
        > and an <span class="highlight"
            >incoming freshman to UC Berkeley (EECS)</span
        >.
    </p>
</section>

<style>
    .mainContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: fit-content;
        margin-top: 3rem;
    }

    .title {
        margin: 0;
        margin-bottom: 1rem;
        width: 100%;
        font-size: 1.5rem;
        color: #ff6633;
    }

    .text {
        font-size: 1rem;
        margin: 0;
    }

    .highlight {
        color: #ff6633;
    }

    @media (max-width: 900px) {
        .mainContainer {
            width: 90%;
        }

        .title {
            font-size: 1.2rem;
        }

        .text {
            font-size: 0.8rem;
        }
    }
</style>
