---
interface Props {
    href: string;
    display: string;
    target?: string;
}

const { href, display, target } = Astro.props;
---

<a
    href={href}
    target={target || "_self"}
    class="text-gray-400 hover:text-blue-400 underline transition"
>
    {display}
</a>
