<section class="container">
    <div class="details">
        <h1 class="name">Nyx Iskandar</h1>
        <h2 class="tagline">A creative creating creative things</h2>
        <div class="socials">
            <a href="https://github.com/xyntechx" target="_blank">
                <img
                    src="/assets/github.png"
                    alt="Nyx's GitHub"
                    width="20px"
                    height="20px"
                />
            </a>
            <a href="https://www.linkedin.com/in/nyx-iskandar/" target="_blank">
                <img
                    src="/assets/linkedin.png"
                    alt="Nyx's LinkedIn"
                    width="20px"
                    height="20px"
                />
            </a>
        </div>
    </div>
    <img
        src="/assets/profile-pic.png"
        alt="Nyx's Profile Picture"
        width="100px"
        height="100px"
    />
</section>

<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }

    .details {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    .name {
        font-size: 2rem;
        margin: 0;
        text-align: left;
    }

    .tagline {
        font-size: 1.2rem;
        margin: 0;
        text-align: left;
        color: #ff6633;
    }

    .socials {
        width: fit-content;
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        column-gap: 0.5rem;
    }

    @media (max-width: 900px) {
        .container {
            width: 90%;
            column-gap: 2rem;
        }

        .name {
            font-size: 1.5rem;
        }

        .tagline {
            font-size: 1rem;
        }
    }
</style>
