<section>
    <div>
        <h1>Hi,</h1>
        <h1>I'm <span class="nyx">Nyx</span></h1>
        <p>a creative creating creative things</p>
    </div>
    <img src="/profile.png" alt="Nyx's Profile Picture" />
</section>
<p class="darr">&darr;</p>

<style>
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        row-gap: 3rem;
        column-gap: 5rem;
        min-height: 90vh;
    }

    img {
        width: 300px;
        height: auto;
    }

    .nyx {
        color: var(--orange);
    }

    .darr {
        font-size: 3rem;
        animation: bounce 1s infinite;
    }

    @keyframes bounce {
        0%,
        100% {
            transform: translateY(-25%);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        50% {
            transform: translateY(0);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    }

    @media (max-width: 768px) {
        section {
            flex-direction: column;
        }

        img {
            width: 200px;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
    }
</style>
