<nav>
    <a href="/secret" class="homeLink"
        ><span class="xyn">xyn</span><span class="techx">techx</span></a
    >
    <div>
        <a
            href="https://github.com/xyntechx"
            target="_blank"
            class="externalLink">GitHub</a
        >
        <a
            href="https://www.linkedin.com/in/nyx-iskandar/"
            target="_blank"
            class="externalLink">LinkedIn</a
        >
    </div>
</nav>

<style>
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 90%;
        padding: 1rem;
        font-weight: 800;
        position: fixed;
        top: 0;
        border-bottom: 1px solid var(--gray);
        background-color: var(--bg-color);
        z-index: 1;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: fit-content;
        column-gap: 2rem;
    }

    .externalLink {
        border-bottom: 2px solid transparent;
        transition: 0.15s;
    }

    .externalLink:hover {
        border-bottom-color: var(--orange);
    }

    .xyn {
        color: var(--orange);
        transition: 0.15s;
    }

    .techx {
        color: var(--blue);
        transition: 0.15s;
    }

    .homeLink:hover .xyn {
        color: var(--blue);
    }

    .homeLink:hover .techx {
        color: var(--orange);
    }

    @media (max-width: 768px) {
        div {
            column-gap: 1rem;
        }
    }
</style>
