---
import Experience from "./Experience";
import styles from "./Experience.module.css";

const experiences = [
    {
        role: "Founder & CEO",
        organisation: "xynlab",
        startDate: "Jun 2021",
        endDate: "Present",
        responsibilities: [
            "Lead the development of nexliber.com, nxpyre.com, and MLA",
            "Manage a global team of software developers, marketing managers, animators, and open-source contributors",
            "Build full-stack web applications (NexLiber, NXpyre) and deep learning models (MLA)",
        ],
    },
    {
        role: "ASDF Xperience Intern",
        organisation: "IMDA",
        startDate: "Jan 2023",
        endDate: "Present",
        responsibilities: [
            "I am part of the pioneering batch of the invite-only ASDF Xperience, an internship programme at IMDA for high school students",
        ],
    },
    {
        role: "Research Intern",
        organisation: "Advanced Remanufacturing and Technology Centre (ARTC)",
        startDate: "Nov 2021",
        endDate: "Jan 2022",
        responsibilities: [
            "Developed intelligent industrial robotic systems with vision sensors and computer vision algorithms",
            "Contributed to an intelligent robotic grasping project using a collaborative robot (UR5), deep neural networks and the Robotic Operating System (ROS) framework",
            "Conducted an independent CNN-based computer vision project for identifying industrial parts from colour images (the project is to be integrated into the team's software stack)",
        ],
    },
];
---

<section class={styles.container}>
    <h1 class={styles.title}>My Work Experience</h1>
    {
        experiences.map((experience) => (
            <Experience experience={experience} client:load />
        ))
    }
    <a
        href="https://www.linkedin.com/in/nyx-iskandar/"
        target="_blank"
        class={styles.findmore}
    >
        findMore("www.linkedin.com/in/nyx-iskandar") &rarr;
    </a>
</section>
