.App {
  text-align: center;
  display: flex;
  justify-content: center;
  background: #f2f2f2;
}

.App-logo {
  height: 50px;
  transition: transform .2s;
}

.App-logo:hover {
  transform: scale(1.2);
}

.App-link {
  transition: transform .2s;
  text-decoration: none;
  color: #303030;
  width: 100%;
}

.App-link:hover {
  transform: scale(1.2);
}

.App-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.App-heading {
  font-weight: 400;
  background: -webkit-linear-gradient(#0E3753, #067EED, #FF7C1F, #4a96c9);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App-body {
  background-color: #f2f2f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: calc(10px + 2vmin);
  font-weight: 200;
  width: 100%;
  margin-bottom: 30px;
  background-image: url('./././images/background.png');
  background-size: 100px;
  background-origin: content-box;
}

.topnav {
  overflow: auto;
  background-color: #f2f2f2;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #303030;
}

.topnav a {
  padding: 20px 30px;
}

.bottomnav {
  overflow: hidden;
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #303030;
}

.bottomnav a {
  color: #303030;
  padding: 30px 20px;
  text-decoration: none;
  font-size: 20px;
  transition: transform .2s;
  text-align: center;
}

.bottomnav a:hover {
  transform: scale(1.2);
  background: -webkit-linear-gradient(#0E3753, #067EED, #FF7C1F, #4A96C9);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.me {
  height: 300px;
}

.module-border-wrap-link {
  width: 100%;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, #0E3753, #067EED, #FF7C1F, #4A96C9);
  padding: 3px;
  border-radius: 1em;
  box-shadow: 10px 10px grey;
}

.module-border-wrap {
  width: 80%;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, #0E3753, #067EED, #FF7C1F, #4A96C9);
  padding: 3px;
  border-radius: 1em;
}

.module {
  background: #f2f2f2;
  padding: 2rem;
  border-radius: 1em;
}