---
import "../styles/global.css";
import Analytics from "@vercel/analytics/astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="AI researcher and government tech scholar interested in RL and planning for robust experiential and grounded intelligence"
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Nyx Iskandar</title>
        <meta name="author" content="Nyx Iskandar" />
        <meta property="og:title" content="Nyx Iskandar" />
        <meta
            property="og:description"
            content="AI researcher and government tech scholar interested in RL and planning for robust experiential and grounded intelligence"
        />
        <meta
            property="og:image"
            content="https://xyntechx.com/xyntechx.jpeg"
        />
        <meta property="og:url" content="https://xyntechx.com/" />
        <meta property="og:type" content="website" />
        <Analytics />
        <link
            rel="icon"
            type="image/png"
            href="/favicons/favicon-96x96.png"
            sizes="96x96"
        />
        <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
        <link rel="shortcut icon" href="/favicons/favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/favicons/apple-touch-icon.png"
        />
        <link rel="manifest" href="/favicons/site.webmanifest" />
        <meta name="theme-color" content="#ffffff" />
    </head>
    <body
        class="font-mono flex items-center justify-start flex-col w-screen min-h-screen tracking-tight selection:bg-amber-400 bg-[#f9f7ea]"
    >
        <slot />
        <p class="text-xs text-center text-gray-300 absolute bottom-4">
            Last updated in Jan 2026
        </p>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
