<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#FF6633" />
        <meta name="msapplication-TileColor" content="#FF6633" />
        <meta name="theme-color" content="#FF6633" />
        <meta name="generator" content={Astro.generator} />
        <script defer src="/_vercel/insights/script.js"></script>
        <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
        <title>Nyx Iskandar</title>
        <meta name="description" content="Nyx Iskandar's website" />
        <meta name="author" content="Nyx Iskandar" />
        <meta property="og:title" content="Nyx Iskandar" />
        <meta property="og:description" content="Nyx Iskandar's website" />
        <meta property="og:image" content="https://xyntechx.com/xyntechx.png" />
        <meta property="og:url" content="https://xyntechx.com/" />
        <meta property="og:type" content="website" />
    </head>
    <body>
        <main>
            <slot />
        </main>

        <style>
            @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

            html,
            body {
                padding: 0;
                margin: 0;
                font-family: "Inter", sans-serif;
                background-color: #fff;
                color: #000;
                overflow-x: hidden;
                scroll-behavior: smooth !important;
            }

            main {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100vw;
            }

            a {
                color: inherit;
                text-decoration: none;
            }

            * {
                box-sizing: border-box;
            }

            textarea,
            code {
                font-family: "Inter", sans-serif;
            }
        </style>
    </body>
</html>
