---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;

import "../styles/stars.css";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content="Nyx Iskandar's website" />
		<meta name="author" content="Nyx Iskandar" />
		<meta property="og:title" content="Nyx Iskandar" />
		<meta property="og:description" content="Nyx Iskandar's website" />
		<meta property="og:image" content="https://xyntechx.com/xyntechx.png" />
		<meta property="og:url" content="https://xyntechx.com/" />
		<meta property="og:type" content="website" />
	</head>
	<body>
		<div class="bg-animation">
			<div id="stars"></div>
			<div id="stars2"></div>
			<div id="stars3"></div>
			<div id="stars4"></div>
		</div>

		<slot />
		
		<style>
			@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

			html {
				font-family: "Source Code Pro", monospace;
				color: #fff;
				background-color: #1a1a1a;
				margin: 0;
				padding: 0;
			}

			body {
				padding: 0;
				margin: 0;
			}
		</style>
	</body>
</html>
