<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Nyx Iskandar</title>
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/favicons/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicons/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicons/favicon-16x16.png"
        />
        <link rel="manifest" href="/favicons/site.webmanifest" />
        <link
            rel="mask-icon"
            href="/favicons/safari-pinned-tab.svg"
            color="#33C2FF"
        />
        <link rel="shortcut icon" href="/favicons/favicon.ico" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta
            name="msapplication-config"
            content="/favicons/browserconfig.xml"
        />
        <meta name="theme-color" content="#ffffff" />
        <script defer src="/_vercel/insights/script.js"></script>
        <meta name="description" content="Nyx Iskandar's website" />
        <meta name="author" content="Nyx Iskandar" />
        <meta property="og:title" content="Nyx Iskandar" />
        <meta property="og:description" content="Nyx Iskandar's website" />
        <meta
            property="og:image"
            content="https://xyntechx.com/favicons/xyntechx.png"
        />
        <meta property="og:url" content="https://xyntechx.com/" />
        <meta property="og:type" content="website" />
    </head>
    <body
        class="p-0 m-0 flex items-center justify-center flex-col bg-primary-black text-white"
    >
        <slot />
    </body>
</html>

<style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;800&display=swap");

    html {
        font-family: "Inconsolata", monospace !important;
        scroll-behavior: smooth !important;
    }
</style>
