@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    font-family: "DM Mono", monospace;
    color: rgba(243, 244, 246);
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: rgba(31, 41, 55);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: rgba(31, 41, 55);
}

::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background: rgba(245, 158, 11);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(233, 147, 0);
}
