.section {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex: 1;
    padding: 3rem 0;
    border-top: 0.2rem solid rgba(243, 244, 246);
    border-bottom: none;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.title,
.maintitle,
.titlelight {
    line-height: 1.15;
    font-size: 4rem;
    color: rgba(243, 244, 246);
}

.title,
.titlelight {
    margin: 0 2rem;
    margin-bottom: 2rem;
    color: rgba(31, 41, 55);
}

.maintitle {
    width: 50vw;
    margin: 0 2rem;
}

.title,
.description,
.titlelight {
    text-align: center;
}

.description,
.descriptionblack {
    line-height: 1.5;
    font-size: 1.75rem;
    margin: 2rem 0;
    text-align: center;
    width: 100%;
}

.titlelight {
    color: rgba(243, 244, 246);
}

.descriptionblack {
    color: rgba(31, 41, 55);
}

.aboutgrid,
.projectsgrid,
.experiencegrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.projectsgrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.rcard,
.pcard {
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    background-color: rgba(55, 65, 81, 0.6);
}

.rcard:hover,
.rcard:focus,
.rcard:active {
    color: rgba(239, 68, 68);
    border-color: rgba(239, 68, 68);
}

.pcard:hover,
.pcard:focus,
.pcard:active {
    color: rgba(167, 139, 250);
    border-color: rgba(167, 139, 250);
}

.rcard h2,
.pcard h2 {
    margin: 0 0 1rem 0;
    font-size: 2rem;
}

.rcard p,
.pcard p {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.5;
}

.divcard {
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
    color: inherit;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    background-color: rgba(55, 65, 81);
}

.divcard h2 {
    margin: 0 0 1rem 0;
    font-size: 2rem;
}

.divcard h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.divcard p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: center;
}

.blue {
    color: rgba(96, 165, 250);
}

.purple {
    color: rgba(167, 139, 250);
}

.rlink {
    border: 0.15rem solid rgba(239, 68, 68);
    padding: 0.3rem;
    border-radius: 1rem;
    transition: background-color 0.15s ease;
}

.rlink:hover {
    background-color: rgba(239, 68, 68);
}

.plink {
    border: 0.15rem solid rgba(167, 139, 250);
    padding: 0.3rem;
    border-radius: 1rem;
    transition: background-color 0.15s ease;
}

.plink:hover {
    background-color: rgba(167, 139, 250);
}

@media (max-width: 1300px) {
    .title,
    .maintitle,
    .titlelight {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .aboutgrid,
    .projectsgrid,
    .experiencegrid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .description,
    .descriptionblack {
        font-size: 1.25rem;
    }

    .rcard h2,
    .pcard h2 {
        font-size: 1.5rem;
    }

    .rcard p,
    .pcard p {
        font-size: 1.25rem;
    }

    .divcard {
        margin-left: 0;
        margin-right: 0;
    }

    .divcard h2 {
        font-size: 1.5rem;
    }

    .divcard h3 {
        font-size: 1.25rem;
    }

    .divcard p {
        font-size: 1rem;
    }

    .footer a {
        margin-right: 1rem;
    }
}
